body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #ffffff;
}

.login-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    gap: 40px;
}

/* LEFT PANEL */
.left-panel {
    width: 40%;
}

.left-panel h2 {
    text-align: center;
    color: #007bff;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.social-login img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #3b3b3b;
}

.input-group input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 13px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.register {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.register a {
    color: #007bff;
    text-decoration: none;
}

/* RIGHT PANEL */
.right-panel {
    width: 60%;
    /* background: #f7f7f7; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Image inside right panel */
.right-panel img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;  /* edges */
}

/* Login pop-up */
.popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.popup.show {
    opacity: 1;
    pointer-events: auto;
}

.popup-box {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial;
    min-width: 250px;
}

#popup-icon {
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
}

