* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ===== Page's body ===== */
body {
    background-color: white;
}


/* Adjusting for phones */
@media (max-width: 480px) {
  .search-box input[type="text"] {
    width: 120px;
  }

  .card {
    max-width: 90%;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}